nav {
    background-color: black;
    height: 80px;
    width: 2000px;
    display: flex;
}

nav img {
   height: 41px;
   margin-right: 450px;
   margin-left: 105px;
   width: 132px;
}

nav a, p {
   color: white;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 1rem;
   font-weight: bold;
   text-decoration: none;
   padding-right: 30px;
   margin-top: 30px;
}

nav a:hover {
   color:rgb(25, 219, 25);
} 

.background {
   background-color: #ffccd3;
}

.title {
   font-weight: bold;
   font-size: 4.2em;
}

.title-secondary {
   color: white;
   font-size: 4.2em;
   font-weight: bold;
   margin-bottom: 30px
}

.subtitle {
   font-size: 1.7rem;
   font-weight: bold
}

.simple-white-text {
   color: white;
   font-size: 1.5rem
}

.frst-cont {
   width: 80%
}

.section-background {
   background-color: coral;
   background-image: url("images/background.jpg");
   background-position: center; 
   background-repeat: no-repeat; 
   background-size: cover;
   height: 500px
}

.btn-is-rounded {
   border-radius: 50px;
   font-size: 14px;
   font-weight: bold;
   padding: 20px 60px
}

.btn-information {
   background-color: transparent;
   border: 2px solid black
}           